HELP.md
!.mvn/wrapper/maven-wrapper.jar
# Exclude all target directories
/target/
# Specifically include the built JAR file in the root target directory
!target/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
# Exclude all build directories
/build/
# Specifically include the main and test build directories
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
